			<!-- *** 'About' page content *** -->
			<div id="about">

				<div class="col-md-4" id="experience">
						<h3>Experience</h3>
						<p>I have several years of web application development experience including:</p>
						<ul class="list-unstyled icon-list chevron-right" style="display: inline-block">
							<li>Java/J2EE/Spring MVC</li>
							<li>PHP/Laravel</li>
							<li>JavaScript/jQuery/Vue.js/AngularJS</li>
							<li>HTML/CSS</li>
							<li>Database</li>
							<li>Web Services</li>
						</ul>
						<p>See <a class="skillset-link" href="#skillset" data-ng-click="menuClicked(SKILLSET_OPT)">Tech Skillset</a> for a complete list.</p>
						<p>See <a class="demo-apps-link" href="#websites" data-ng-click="menuClicked(WEBSITES_OPT)">Portfolio</a> for links to my websites and applications.</p>
						<p>I am currently focusing on full stack development, having previously focused on mid-tier/backend development.</p>
						<p>My preference is contract/contract-to-hire employment with small to medium sized companies.  However, I am open to discussing any potentially interesting opportunity.</p>
				</div>

				<div class="col-md-4" id="about-site">
					<h3>About This Site</h3>
					<p>This website is a <b>Single Page Application</b> developed with <b>AngularJS</b>.</p>
					<p>The UI was built with <b>Bootstrap</b>, including <b>jQuery plugins</b>.</p>
					<p>My development environment is <b>Ubuntu Linux</b> running in <b>VirtualBox</b> on a <b>Windows 10</b> laptop.</p>
					<p>My development web server is <b>Apache HTTP Server.</b></p>
				</div>

				<div class="col-md-4" id="about-tim">
					<h3>About Me</h3>
						<img src="assets/images/tim_cubicle.jpg" alt="Tim Coveney">
						<p>
							Originally from Dallas, Texas, with a BSEE from UT Austin, I consider Colorado home now.&nbsp;&nbsp;Played guitar in blues/rock garage bands back in the day.
						</p>
						<p>
							I'm interested in topics like mindfulness, social entrepreneurship, and sustainability.
						</p>
						<p>
							See my <a href="https://github.com/UniquelySimilar" target="_BLANK">GitHub Account</a> for projects and code samples.<br />
						</p>
            <h3>Contact</h3>
            <h4>tcemp@comcast.net</h4>
				</div>

			</div><!-- #about -->
