			<!-- *** 'Skillset' page content *** -->
			<div id="skillset">
                <h3>Technical Skill Set</h3>

                <!-- TODO: Implement with flexbox instead of bootstrap grid -->
                <!-- NOTE: Rows are wider than container, creating a horizontal scroll bar -->
                <div class="row">
                    <div class="col-md-2">
                        <div class="panel panel-default">
                            <div class="panel-heading">LANGUAGES</div>
                            <div class="panel-body">
                                <ul>
                                    <li>Java</li>
                                    <li>PHP</li>
                                    <li>JavaScript</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="panel panel-default">
                            <div class="panel-heading">WEB UI</div>
                            <div class="panel-body">
                                <ul>
                                    <li>HTML</li>
                                    <li>CSS</li>
                                    <li>JavaScript</li>
                                    <li>jQuery</li>
                                    <li>Vue.js</li>
                                    <li>AngularJS</li>
                                    <li>Bootstrap</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="panel panel-default">
                            <div class="panel-heading">MVC FRAMEWORKS</div>
                            <div class="panel-body">
                                <ul>
                                    <li>Laravel</li>
                                    <li>Spring MVC</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="panel panel-default">
                            <div class="panel-heading">DATABASES</div>
                            <div class="panel-body">
                                <ul>
                                    <li>MySQL</li>
                                    <li>PostgreSQL</li>
                                    <li>SQL Server</li>
                                    <li>Oracle</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="panel panel-default">
                            <div class="panel-heading">ORM</div>
                            <div class="panel-body">
                                <ul>
                                    <li>Hibernate</li>
                                    <li>Eloquent</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2">
                        <div class="panel panel-default">
                            <div class="panel-heading">APP/WEB SERVERS</div>
                            <div class="panel-body">
                                <ul>
                                    <li>Apache2</li>
                                    <li>Tomcat</li>
                                    <li>JBoss</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="panel panel-default">
                            <div class="panel-heading">TEST TOOLS</div>
                            <div class="panel-body">
                                <ul>
                                    <li>JUnit</li>
                                    <li>PHPUnit</li>
                                    <li>Laravel Dusk</li>
                                    <li>Postman</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="panel panel-default">
                            <div class="panel-heading">IDE/BUILD TOOLS</div>
                            <div class="panel-body">
                                <ul>
                                    <li>Eclipse</li>
                                    <li>Visual Studio Code</li>
                                    <li>Maven</li>
                                    <li>Ant</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="panel panel-default">
                            <div class="panel-heading">OPERATING SYSTEMS</div>
                            <div class="panel-body">
                                <ul>
                                    <li>Ubuntu Linux</li>
                                    <li>Windows</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="panel panel-default">
                            <div class="panel-heading">SOURCE CONTROL</div>
                            <div class="panel-body">
                                <ul>
                                    <li>Git</li>
                                    <li>GitHub</li>
                                    <li>Subversion</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                    
			</div><!-- #skillset -->
