<!-- *** 'Skillset' page content *** -->
<div id="skillset">
    <h3>Technical Skill Set</h3>
    <div class="skillset-container">
        <div class="skill-list">
            <div class="skill-heading">LANGUAGES</div>
            <div class="skill-body">
                <ul>
                    <li>Java</li>
                    <li>PHP</li>
                    <li>JavaScript</li>
                </ul>
            </div>
        </div>
        <div class="skill-list">
            <div class="skill-heading">WEB UI</div>
            <div class="skill-body">
                <ul>
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>JavaScript</li>
                    <li>jQuery</li>
                    <li>Vue.js</li>
                    <li>AngularJS</li>
                    <li>Bootstrap</li>
                </ul>
            </div>
        </div>
        <div class="skill-list">
            <div class="skill-heading">MVC FRAMEWORKS</div>
            <div class="skill-body">
                <ul>
                    <li>Laravel</li>
                    <li>Spring MVC</li>
                </ul>
            </div>
        </div>
        <div class="skill-list">
            <div class="skill-heading">DATABASES</div>
            <div class="skill-body">
                <ul>
                    <li>MySQL</li>
                    <li>PostgreSQL</li>
                    <li>SQL Server</li>
                    <li>Oracle</li>
                </ul>
            </div>
        </div>
        <div class="skill-list">
            <div class="skill-heading">ORM</div>
            <div class="skill-body">
                <ul>
                    <li>Hibernate</li>
                    <li>Eloquent</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="skillset-container">
        <div class="skill-list">
            <div class="skill-heading">APP/WEB SERVERS</div>
            <div class="skill-body">
                <ul>
                    <li>Apache2</li>
                    <li>Tomcat</li>
                    <li>JBoss</li>
                </ul>
            </div>
        </div>
        <div class="skill-list">
            <div class="skill-heading">TEST TOOLS</div>
            <div class="skill-body">
                <ul>
                    <li>JUnit</li>
                    <li>PHPUnit</li>
                    <li>Laravel Dusk</li>
                    <li>Postman</li>
                </ul>
            </div>
        </div>
        <div class="skill-list">
            <div class="skill-heading">IDE/BUILD TOOLS</div>
            <div class="skill-body">
                <ul>
                    <li>Eclipse</li>
                    <li>Visual Studio Code</li>
                    <li>Maven</li>
                    <li>Ant</li>
                </ul>
            </div>
        </div>
        <div class="skill-list">
            <div class="skill-heading">OPERATING SYSTEMS</div>
            <div class="skill-body">
                <ul>
                    <li>Ubuntu Linux</li>
                    <li>Windows</li>
                </ul>
            </div>
        </div>
        <div class="skill-list">
            <div class="skill-heading">SOURCE CONTROL</div>
            <div class="skill-body">
                <ul>
                    <li>Git</li>
                    <li>GitHub</li>
                    <li>Subversion</li>
                </ul>
            </div>
        </div>
    </div>

</div>
<!-- #skillset -->