<!-- *** 'About' page content *** -->
<div id="about" class="row">
	<div class="col-md-6">
		<h3>Experienced Web Application Developer</h3>
		<p>I have several years of web application development experience including:</p>
		<ul class="list-unstyled icon-list chevron-right">
			<li>Java/J2EE</li>
			<li>Ruby on Rails</li>
			<li>PHP/Laravel</li>
		</ul>
		<p>See <a href="#skillset">Tech Skillset</a> for a complete list.</p>
		<p>See <a href="#demoapps">Demo Apps</a> for links to my demonstration applications.</p>
		<p>My past experience has generally involved mid-tier/backend development.  I am currently focusing on full stack.</p>
		<p>I am seeking contract/contract-to-hire employment with small to medium sized companies.</p>
	</div>
	<div class="col-md-6 col-divider" >
		<h3>Contact Tim Coveney</h3>
		<img src="assets/images/tim_cubicle.jpg" alt="Tim Coveney" >
		<br />
		<br />
		<p>
			<b>Email: </b>tcemp@comcast.net<br />
			<a href="https://github.com/UniquelySimilar" target="_BLANK">GitHub Account</a>
		</p>
	</div>
</div><!-- .row -->
