<!-- *** 'Skillset' page content *** -->
<div id="skillset" class="row">
	<div class="col-md-10">
		<h3>Technical Skillset</h3>

		<!-- Nav tabs -->
		<ul class="nav nav-tabs" role="tablist">
			<li class="active"><a href="#languages" role="tab" data-toggle="tab">Languages</a></li>
			<li><a href="#web-ui" role="tab" data-toggle="tab">Web UI</a></li>
			<li><a href="#web-frameworks" role="tab" data-toggle="tab">Web Frameworks</a></li>
			<li><a href="#databases" role="tab" data-toggle="tab">DB</a></li>
			<li><a href="#orm" role="tab" data-toggle="tab">ORM</a></li>
			<li><a href="#app-web-servers" role="tab" data-toggle="tab">App/Web Servers</a></li>
			<li><a href="#test-tools" role="tab" data-toggle="tab">Test Tools</a></li>
			<li><a href="#ides-build-tools" role="tab" data-toggle="tab">IDEs/Build Tools</a></li>
			<li><a href="#operating-systems" role="tab" data-toggle="tab">OS</a></li>
			<li><a href="#src-control" role="tab" data-toggle="tab">Source Control</a></li>
		</ul>

		<!-- Tab panes -->
		<div class="tab-content">
			<div class="tab-pane active" id="languages">
				<br />
				<ul class="list-unstyled icon-list cog">
					<li>Java/J2EE</li>
					<li>Ruby</li>
					<li>PHP</li>
				</ul>
			</div>
			<div class="tab-pane" id="web-ui">
				<br />
				<ul class="list-unstyled icon-list cog">
					<li>HTML</li>
					<li>CSS</li>
					<li>JavaScript</li>
					<li>jQuery</li>
					<li>Bootstrap</li>
				</ul>
			</div>
			<div class="tab-pane" id="web-frameworks">
				<br />
				<ul class="list-unstyled icon-list cog">
					<li>Spring MVC</li>
					<li>Rails</li>
					<li>Laravel</li>
					<li>AngularJS</li>
				</ul>
			</div>
			<div class="tab-pane" id="databases">
				<br />
				<ul class="list-unstyled icon-list cog">
					<li>MySQL</li>
					<li>PostgreSQL</li>
					<li>SQL Server</li>
					<li>Oracle</li>
				</ul>
			</div>
			<div class="tab-pane" id="orm">
				<br />
				<ul class="list-unstyled icon-list cog">
					<li>Hibernate</li>
					<li>Active Record</li>
					<li>Eloquent</li>
				</ul>
			</div>
			<div class="tab-pane" id="app-web-servers">
				<br />
				<ul class="list-unstyled icon-list cog">
					<li>Apache</li>
					<li>Phusion Passenger</li>
					<li>Tomcat</li>
					<li>JBoss</li>
				</ul>
			</div>
			<div class="tab-pane" id="test-tools">
				<br />
				<ul class="list-unstyled icon-list cog">
					<li>JUnit</li>
					<li>RSpec</li>
					<li>soapUI</li>
				</ul>
			</div>
			<div class="tab-pane" id="ides-build-tools">
				<br />
				<ul class="list-unstyled icon-list cog">
					<li>Eclipse</li>
					<li>NetBeans</li>
					<li>Ant</li>
					<li>Maven</li>
				</ul>
			</div>
			<div class="tab-pane" id="operating-systems">
				<br />
				<ul class="list-unstyled icon-list cog">
					<li>Windows</li>
					<li>Linux</li>
				</ul>
			</div>
			<div class="tab-pane" id="src-control">
				<br />
				<ul class="list-unstyled icon-list cog">
					<li>Git</li>
					<li>GitHub</li>
					<li>Subversion</li>
				</ul>
			</div>
		</div>

		<hr style="border-width: 2px">

	</div><!-- .col-md-10 -->

</div><!-- .row -->
