/* Navbar */

.navbar-brand,
.navbar-nav li a,
.navbar-nav li a:hover
 {
    line-height: 80px;
    height: 80px;
    padding-top: 0;
    font-size: 20px;
}

.navbar-brand {
	color: white;	/* Not working */
	font-size: 24px;
}

.col-divider {
	border-left: 2px solid #eeeeee;
}
