/* app.css */
.navbar {
	background-image: url("../images/forest-cropped.jpg");
	background-size : 100% auto;
	margin-bottom: 0;
	padding-bottom: 20px;
}

#heading-img-credit {
	color: #FF9900;
	text-align: right;
}

#heading-img-credit a {
	color: #FF9900;
	text-decoration: none;
}

#heading-title {
	text-align: center;
	color: white;
}

#heading-title h1 {
	margin-top: 0;
	padding-top: 20px;
}


/* Needed to compensate for not using 'href' in nav tabs */
.nav, .pagination, .carousel, .panel-title a {
	cursor: pointer;
}


/* Navbar */
.navbar-default {
	font-size: 150%;
}

#navbar a {
	background-color: transparent;
	color: white;	
}

#navbar .active > a,
#navbar .active > a:focus {
	color: #FF9900;
	/*color: black;*/
}

#navbar a:hover {
	color: #FF9900;
	/*color: black;*/
}


/* Dropdown menu */
.dropdown-menu {
	background-image: url("../images/forest-menu-bg.jpg");
	/*background-color: #006600;*/
	/*background-color: #4078D9;*/
}


/* Nav tabs */
.nav-tabs li.active a,
.nav-tabs li.active a:focus {
	background-color: #f5f5f5;
}

.tab-pane ul li {
	font-size: 125%;
}


/* About */
#experience img {
	margin-right: 80px;
}

#about-tim img {
	margin-bottom: 10px;
}

div#about > div {
	padding-left: 30px;
	padding-right: 30px;
}


/* Skill set */
.skillset-container {
	margin: 0 auto;
}

.skill-list {
	border: 1px solid #dddddd;
	flex-basis: 16%;
	text-align: center;
	margin-top: 1em;
}

.skill-heading {
	font-weight: bold;
	background-color: #f5f5f5;
	padding: 0.8em;
	border-bottom: 1px solid #dddddd;
}

.skill-body {
	padding: 0.8em;
}

.skill-list ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

#skillset .panel {
	text-align: center;
}

#skillset .panel-heading {
	font-weight: bold;
}

#skillset .panel-body ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}


/* Unordered list */
.icon-list li {
	padding: 0 0 5px 20px;
	display: block;
	position: relative;
}

.icon-list li:before {
	font-family: 'Glyphicons Halflings';
	position: absolute;
	left: 0px;
	top:3px;
	font-size:80%
}

.chevron-right li:before {
	content: '\e080';
}

.cog li:before {
	content: "\e019";
}

.certificate li:before {
	content: "\e124";
}

.hand-right li:before {
	content: "\e127";
}


/* Tab control */
.tab-pane ul {
	display: table;
	margin: 0 auto;
}

.tab-container {
	padding: 10px;
	border: 1px solid #dddddd;
	border-radius: 4px;
}


/* Add/remove elements */
#images-div > div {
	display: inline-block;
}

.image-container {
	border: 1px solid #ccc;
	border-radius: 4px;
	margin-top: 5px;
	margin-right: 5px;
}

.image-title {
	padding-left: 5px;
}

.image-portfolio {
	box-shadow: 5px 5px 5px #888888;
}


/* Portfolio */
.portfolio-link {
	padding: 0;
}
.portfolio-link img {
	width: 100%;
	height: auto;
	opacity: 1;
	transition: 0.5s ease;
}

.portfolio-link .overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	/*transition: .2s ease;*/
}

.portfolio-link:hover .overlay {
	opacity: 0.7;
	background-color: #4B721B;
}

.portfolio-link .text {
	color: white;
	font-size: 1.5em;
	font-weight: bolder;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	text-align: center;
}

#bbaz-website:hover .overlay {
	cursor: pointer;
}


/* Overlay Bootstrap extension overrides */
/* Used for website portfolio image captions */
.thumbnail #caption-up {
	transition-duration: 0s;
	padding-top: 35px;
	padding-bottom: 35px;
	font-size: 18px;
	text-align: center;
}

.thumbnail a {
	text-decoration: none;
}

.thumbnail a:link,
.thumbnail a:visited {
    color: LightGray;
}

.thumbnail a:hover,
.thumbnail a:active {
    color: White;
}


/* Interests */

.interests-img {
  max-width: 100%;
  height: auto;
}

/* Making embedded YouTube iframe responsive */
.video-wrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}

.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Miscellaneous */
.big-font {
	font-size: 125%;
}

.posted-date {
	color: #5c005c;
	font-style: italic;
	font-size: 70%;
}

.hide {
	display: none;
}


/* Media queries */
@media only screen and (min-width: 768px) {
	.skillset-container {
		display: flex;
		justify-content: space-between;
	}	
}

@media only screen and (max-width: 1034px) {
	.dropdown-menu {
		background-image: none;
	}
}

@media only screen and (min-width : 1900px) {
	body {
		font-size: 22px;
	}

}
