html { 
  background: url(../images/galaxy_1920x1200.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/*
body {
	background-color: #f5f5f5;
}
 */

.transparent {
	background-color: transparent;
}

/* Navbar */
.navbar {
	border-radius: 0;
}

.navbar-brand,
.navbar-nav li a,
.navbar-nav li a:hover
 {
		line-height: 80px;
		height: 80px;
		padding-top: 0;
		font-size: 20px;
		font-weight: bold;
}

.navbar-brand {
	padding-right: 30px;
}

.navbar-inverse .navbar-brand {
	font-size: 30px;
}
.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-brand:hover {
	color: #dddddd;
/*	color: #B0CAE3; original */
}

/* Content boxes */
.content-div {
	border:	1px solid #dddddd;
	background-color: #ffffff;
}

.exp-div {
	padding-left: 0;
	padding-right: 15px;
}

/* Keep text from wrapping under floated image */
.contact-div:after { content: ''; clear: both; visibility: hidden; }

.contact-div img {
		float: left;
		margin-right: 10px;
}

.contact-div p {
	overflow: hidden;
}

.pad-left-fifteen {
	padding-left: 15px;
}

.pad-right-fifteen {
	padding-right: 15px;
}

.col-divider {
	border-left: 2px solid #dddddd;
}

/* Nav tabs */
.nav-tabs li.active a,
.nav-tabs li.active a:focus {
	background-color: #f5f5f5;
}

.tab-pane ul li {
	font-size: 125%;
}

/* Unordered list */
.icon-list li {
	padding: 0 0 5px 20px;
	display: block;
	position: relative;
}

.icon-list li:before {
	font-family: 'Glyphicons Halflings';
	position: absolute;
	left: 0px;
	top:3px;
	font-size:80%
}

.chevron-right li:before {
	content: '\e080';
}

.cog li:before {
	content: "\e019";
}

.certificate li:before {
	content: "\e124";
}

.hand-right li:before {
	content: "\e127";
}

/* Media queries */
@media (max-width: 992px) {
.content-div {
	margin-bottom: 20px;
}

.exp-div {
	padding-right: 0;
}
