/* app.css */
.navbar {
	background-image: url("../images/drop-of-water-1920x1328.jpg");
	background-repeat: no-repeat;
	/*background-size : 100% auto;*/
}

#heading-title{
	text-align: center;
	color: white;
}

#heading-title h1 {
	margin-top: 0;
	padding-top: 20px;
}


/* Needed to compensate for not using 'href' in nav tabs */
.nav, .pagination, .carousel, .panel-title a {
	cursor: pointer;
}


/* Navbar */
.navbar-default {
	font-size: 150%;
}

#navbar a {
	background-color: transparent;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
	color: black;
}

.navbar-default .navbar-nav > li > a:hover {
	color: black;
}

.navbar-default .navbar-nav > li > a {
	color: white;	
}


/* Dropdown menu */
.dropdown-menu {
	background-color: #4078D9;
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a {
	color: white;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
	color: black;
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
	color: black;
}

.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
	color: black;
}


/* Nav tabs */
.nav-tabs li.active a,
.nav-tabs li.active a:focus {
	background-color: #f5f5f5;
}

.tab-pane ul li {
	font-size: 125%;
}


/* About */
#experience img {
	margin-right: 80px;
}

#about-tim img {
	margin-bottom: 10px;
}

div#about > div {
	padding-left: 30px;
	padding-right: 30px;
}


/* Unordered list */
.icon-list li {
	padding: 0 0 5px 20px;
	display: block;
	position: relative;
}

.icon-list li:before {
	font-family: 'Glyphicons Halflings';
	position: absolute;
	left: 0px;
	top:3px;
	font-size:80%
}

.chevron-right li:before {
	content: '\e080';
}

.cog li:before {
	content: "\e019";
}

.certificate li:before {
	content: "\e124";
}

.hand-right li:before {
	content: "\e127";
}


/* Tab control */
.tab-pane ul {
	display: table;
	margin: 0 auto;
}

.tab-container {
	padding: 10px;
	border: 1px solid #dddddd;
	border-radius: 4px;
}


/* Contact form */
.form-horizontal .control-label {
	text-align:left;
}

.validation-err {
	color:	red;
}

.submit-success {
	color:	green;
}


/* Add/remove elements */
#images-div > div {
	display: inline-block;
}

.image-container {
	border: 1px solid #ccc;
	border-radius: 4px;
	margin-top: 5px;
	margin-right: 5px;
}

.image-title {
	padding-left: 5px;
}

.image-portfolio {
	box-shadow: 5px 5px 5px #888888;
}

/* Overlay Bootstrap extension overrides */
/* Used for website portfolio image captions */
.thumbnail #caption-up {
	transition-duration: 0s;
	padding-top: 35px;
	padding-bottom: 35px;
	font-size: 18px;
	text-align: center;
}

.thumbnail a {
	text-decoration: none;
}

.thumbnail a:link,
.thumbnail a:visited {
    color: LightGray;
}

.thumbnail a:hover,
.thumbnail a:active {
    color: White;
}


/* Miscellaneous */
.big-font {
	font-size: 125%;
}

.posted-date {
	color: #5c005c;
	font-style: italic;
	font-size: 70%;
}

.hide {
	display: none;
}


/* Media queries */
/*
@media (max-width: 1034px) {
}
*/