<!-- *** 'Websites' page content *** -->
<div id="websites">
	<div id="bbaz-website" class="col-md-6 portfolio-link">
		<img src="assets/images/bbaz-website-home.jpg" alt="Bradley Bazzle - Writer">
		<div class="overlay">
			<div class="text">Bradley Bazzle - Writer<br>Click to open</div>
		</div>
	</div>
	<div id="laravelwebapp-index" class="col-md-6 portfolio-link">
		<img src="assets/images/laravelwebapp-index.jpg" alt="Laravel 5.4 Web App">
		<div class="overlay">
			<div class="text">Laravel 5.4 Web App - Demonstrated via screen share or in person</div>
		</div>
	</div>
</div>

<script>
	$('#bbaz-website').click(function() {
		window.open("http://bradleybazzle.com");
	})
</script>