<!-- *** 'Websites' page content *** -->
<div id="websites">
	<div id="bbaz-website" class="col-md-6 portfolio-link">
		<img src="assets/images/bbaz-website-home.jpg" alt="Bradley Bazzle - Writer">
		<div class="overlay">
			<div class="text">Bradley Bazzle - Writer</div>
		</div>
	</div>
	<div id="" class="col-md-6 portfolio-link">
		<img src="" alt="">
		<div class="overlay">
			<div class="text"></div>
		</div>
	</div>
</div>

<script>
	$('#bbaz-website').click(function() {
		window.open("http://bradleybazzle.com");
	})
</script>