			<!-- *** 'Interests' page content *** -->
			<div id="interests">
				<div class="col-md-7 col-md-offset-2 big-font">
					<h3>Interests</h3>

					<hr style="border-width: 2px">

					<a href="http://www.mindfueldaily.com/" target="_BLANK">
						<img src="/assets/images/mind-fuel-daily.jpg" style="margin-bottom: 5px">
					</a>
					<span class="posted-date">9/24/2015</span>
					<p>
						A variety of articles intended to feed the spirit, inspire the mind, and revive the body.
					</p>

					<hr style="border-width: 2px">

					<a href="http://www.ancient-origins.net" target="_BLANK">
						<img src="/assets/images/ancient_origins.jpg">
					</a>
					<span class="posted-date">2/7/2015</span>
					<p>
					Highlights the very latest archaeological findings, peer-reviewed academic research and evidence, as well as offering alternative viewpoints and explanations of science, archaeology, mythology, religion and history around the globe.
					</p>

					<hr style="border-width: 2px">

					<h4><b>'60 Minutes' Segment on Mindfulness</b> <span class="posted-date">12/15/2014</span></h4>
					<p>This video is a summary with additional commentary from '60 Minutes Overtime'.</p>
					<iframe width="560" height="315" src="//www.youtube.com/embed/7wbfWAU7ah0" frameborder="0" allowfullscreen></iframe>
					<p>
					For the complete segment, as well as related videos, click this <a href="http://www.cbsnews.com/news/the-newly-mindful-anderson-cooper/" target="_BLANK">CBS News link</a>.
					</p>
				</div>
			</div><!-- #interests -->
