			<!-- *** 'Demo apps' page content *** -->
			<div id="demo-apps">
				<div class="col-md-8 col-md-offset-2 content-div">
					<h3>Demo Web Applications</h3>
					<b>NOTE:</b> Username/password supplied on request. Contact Tim: tcemp@comcast.net</a>.

						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">PHP/Laravel</h4>
							</div>
							<div class="panel-body">
								<a href="http://customer-mgr-laravel-timc.herokuapp.com" target="_BLANK"
									style="font-size: 1.25em;"><b>Customer Manager</b></a>&nbsp;&nbsp;(click to open app in separate tab)
								<br /><br />
								<ul>
									<li>CRUD processing for Customers</li>
									<li>Authentication</li>
									<li>PostgreSQL database</li>
									<li>Bootstrap UI</li>
									<li>Deployed to Heroku</li>
								</ul>
							</div>
						</div>

				</div>
			</div><!-- #demo-apps -->
