<div id="resume" class="col-md-offset-3 col-md-6">
    <ul style="list-style-type: none; padding-left: 0; margin-top: 1em;">
        <li>
            <b>LANGUAGES:</b>&nbsp;&nbsp;Java, PHP, JavaScript
        </li>
        <li>
            <b>WEB UI:</b>&nbsp;&nbsp;jQuery, AngularJS 1.x, Vue.js, HTML, CSS, Bootstrap
        </li>
        <li>
            <b>WEB FRAMEWORKS:</b>&nbsp;&nbsp;Spring MVC, Laravel
        </li>
        <li>
            <b>WEB SERVICES:</b>&nbsp;&nbsp;REST, SOAP, JSON
        </li>
        <li>
            <b>DATABASES:</b>&nbsp;&nbsp;MySQL, PostgreSQL, SQL Server, Oracle
        </li>
        <li>
            <b>ORM:</b>&nbsp;&nbsp;Hibernate, Eloquent
        </li>
        <li>
            <b>APP/WEB SERVERS:</b>&nbsp;&nbsp;Tomcat, Jboss, Apache2, Nginx,
        </li>
        <li>
            <b>TEST TOOLS:</b>&nbsp;&nbsp;JUnit, Postman, Laravel Dusk, PHPUnit
        </li>
        <li>
            <b>IDEs:</b>&nbsp;&nbsp;Eclipse, Visual Studio Code, Sublime Text 2
        </li>
        <li>
            <b>BUILD TOOLS:</b>&nbsp;&nbsp;Maven, Ant
        </li>
        <li>
            <b>OPERATING SYSTEMS:</b>&nbsp;&nbsp;Linux (Ubuntu, Fedora, CentOS), Windows
        </li>
        <li>
            <b>SOURCE CONTROL:</b>&nbsp;&nbsp;Git, GitHub, VSS, Subversion
        </li>
    </ul>

    <b>WEB APPLICATION DEVELOPER</b>
    <br>
    <a href="http://www.mdscripts.com" target="_blank">
        <b>MDScripts</b>
    </a>
    <br>February 2019 – September 2019 (additional application functionality put on hold)
    <br>
    <ul>
        <li>Web application enhancements and bug fixes
            <ul>
                <li>Java, servlets, HTML, CSS, JavaScript, PostgreSQL, Tomcat, Fedora</li>
            </ul>
        </li>
    </ul>

    <b>WEB APPLICATION DEVELOPER</b>
    <br>
    <a href="http://www.nextstrategictech.com" target="_blank">
        <b>Next Strategic Technologies</b>
    </a>
    <br>June 2018 – February 2019 (work slowed down)
    <br>
    <ul>
        <li>Enhancements and bug fixes to their client’s web applications
            <ul>
                <li>Java, Spring, Struts, Hibernate, REST, HTML, CSS, JavaScript, MySQL, CentOS</li>
            </ul>
        </li>
    </ul>

    <b>PERSONAL PROJECTS WHILE SEEKING EMPLOYMENT:</b>
    <br> February 2018 – Present. Projects include:
    <ul>
        <li>
            <b>Java/Spring MVC Web App: </b>
            <a href="https://github.com/UniquelySimilar/SpringMvcWebApp" target="_blank">https://github.com/UniquelySimilar/SpringMvcWebApp</a>
        </li>
        <li>
            <b>Java/Spring MVC RESTful Service: </b>
            <a href="https://github.com/UniquelySimilar/springrestservice" target="_blank">https://github.com/UniquelySimilar/springrestservice</a>
        </li>
        <li>
            <b>PHP 7/Laravel 5.4 Web App: </b>
            <a href="https://github.com/UniquelySimilar/laravelwebapp" target="_blank">https://github.com/UniquelySimilar/laravelwebapp</a>
        </li>
        <li>
            <b>PHP 7/Laravel 5.6 REST API: </b>
            <a href="https://github.com/UniquelySimilar/laravel-retailer-rest" target="_blank">https://github.com/UniquelySimilar/laravel-retailer-rest</a>
        </li>
        <li>
            <b>Vue.js Client for REST API: </b>
            <a href="https://github.com/UniquelySimilar/retailer-rest-client" target="_blank">https://github.com/UniquelySimilar/retailer-rest-client</a>
        </li>
    </ul>

    <b>WEB APPLICATION DEVELOPER – CONTRACT</b>
    <br>
    <a href="http://www.mastertoolrepair.com" target="_blank">
        <b>Master Tool Repair</b>
    </a>
    <br>July 2017 – January 2018 (contract ended due to slow sales)
    <br>
    <ul>
        <li>Porting existing eCommerce web application to Laravel
            <ul>
                <li>PHP 7.0, Laravel 5.5, MySQL, jQuery, Vue.js, HTML, CSS, Ubuntu, Apache</li>
            </ul>
        </li>
        <li>Maintaining existing eCommerce web app
            <ul>
                <li>PHP 5.6, osCommerce, MySQL, jQuery, HTML, CSS</li>
            </ul>
        </li>
    </ul>

    <b>WEB APPLICATION DEVELOPER</b>
    <br>
    <a href="http://www.mainstreetexchange.com" target="_blank">
        <b>Main Street Exchange</b>
    </a>
    <br>June 2016 – February 2017 (company shut down)
    <ul>
        <li>Web application enhancements, bug fixes, and testing
            <ul>
                <li>PHP 7, Laravel 5.3, MySQL, jQuery, HTML, CSS, PHPUnit, Ubuntu, Nginx</li>
            </ul>
        </li>
    </ul>

    <b>WEB APPLICATION DEVELOPER – CONTRACT</b>
    <br>
    <a href="http://www.alpinetg.com" target="_blank">
        <b>Alpine Technology Group</b>
    </a>
    <br> November 2015 - March 2016 (finished short term project)
    <ul>
        <li>
            Porting a CRUD web application from Groovy/Grails to Java/Spring MVC
            <ul>
                <li>
                    <b>Client: </b>JSP, HTML, CSS, jQuery, AJAX</li>
                <li>
                    <b>Server: </b> Controllers, Models, DAO, RESTful APIs</li>
            </ul>
        </li>
    </ul>

    <b>SOFTWARE DEVELOPER – CONTRACT</b>
    <br>
    <a href="http://dn2k.com/" target="_blank">
        <b>Data Into Knowledge</b>
    </a> (subcontracting through consultant)
    <br>July 2015 - September 2015 (contractor I worked for left)
    <ul>
        <li>Fixes and enhancements to existing code: Java/JEE, Spring, JUnit, Tomcat</li>
    </ul>

    <b>WEB APPLICATION DEVELOPER – CONTRACT</b>
    <br>
    <a href="http://ahnow.org" target="_blank">
        <b>Animal Help Now</b>
    </a>
    <br>February 2015 - June 2015 (left for a better opportunity)
    <ul>
        <li>Website fixes and enhancements: PHP, AngularJS, JavaScript, HTML, CSS</li>
    </ul>

    <b>PERSONAL WEB DEVELOPMENT TRAINING PROJECTS </b>
    <br>
    <b>Dev Info Site: </b>http://uniquelysimilar.github.io
    <br> November 2012 - December 2014
    <ul>
        <li>Took time for self-training to improve my marketability and broaden my opportunities</li>
    </ul>

    <b>SOFTWARE ENGINEER: Harris ERP</b>
    <br> May 2012 - October 2012
    <ul>
        <li>Enhancement of a Java ETL application porting customer’s data to Harris application.</li>
    </ul>

    <b>SOFTWARE ENGINEER</b>
    <br>
    <b>Mid-tier Back Office Dept., Scottrade, Inc., Westminster, Colorado</b>
    <br> July 2007 - April 2011
    <br> (Computer Research, Inc. 2.5 years, Scottrade 1 year AFTER ACQUISITION)
    <ul>
        <li>
            Developed a J2EE web application for employee time tracking:
            <ul>
                <li>Portlet based UI (JSF, HTML, JavaScript) and supporting business logic.</li>
                <li>Designed and built a MySQL database accessed via Hibernate.</li>
                <li>Web service client for submitting data to a back end application.</li>
            </ul>
        </li>
        <li>
            Developed SOAP web services used to access backend COBOL programs:
        </li>
    </ul>

    <b>SOFTWARE ENGINEER: GSMRT (ETL) Division, IBM, Boulder, Colorado</b>
    <br> December 2006 - May 2007 (Contract – laid off)
    <ul>
        <li>Trouble shooting and fixing Java code, SQL statements, and XML files.</li>
    </ul>

    <b>SOFTWARE ENGINEER: Mobile Accord, Denver,Colorado </b>
    <br> November 2005 - May 2006 (Direct hire – laid off)
    <ul>
        <li>
            Design, development, and deployment of multi-threaded Java applications to process (send/receive) mobile phone SMS/PSMS messages,
            including:
            <ul>
                <li>Retrieving text messages from a carrier's application via their Java API.</li>
                <li>Forwarding received messages to a processing application via socket.</li>
                <li>Sending custom text messages to users via the carrier's Java API.</li>
            </ul>
        </li>
    </ul>

    <b>J2EE TRAINING</b>
    <br>
    <b>NOTE: </b>After the ‘dot-com bubble’ burst, it was difficult to find employment as a developer.
    <br> July 2001 - July 2004
    <ul>
        <li>Self-training: Java/J2EE (Servlets, JSP), HTML, XML, JavaScript, database</li>
    </ul>

    <b>SOFTWARE ENGINEER: Generation 21, Lakewood, Colorado (Consultant through IBS)</b>
    <br> April 2000 - June 2001
    <ul>
        <li>Design, development, testing, and deployment of a Java web application (JSP)</li>
    </ul>
    <p>
        <b>EDUCATION: </b>BSEE - The University of Texas at Austin
    </p>
</div>